# dbt
profiles.yml
target/
dbt_packages/
logs/
.user.yml

# credentials & secrets
*.json
.env
credentials/
application_default_credentials.json

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.python-version

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace
